<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <img src="/images/test.png">
    <br />
    <h1><%= title %>ddt</h1>
    <br>
    <p>Welcome to <%= title %></p>
  </body>
</html>
